<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
    <title>ItemInfo</title>
</head>
<body>
<div class="itemInfo">
  <table>
    <tbody>
    <form th:action="/item/pay" role="form" method="post">
      <input name="itemId" type="hidden" th:value="${item.itemId}"/>
      <tr>
        <th><p>결제 정보</p></th>
      </tr>
      <tr>
        <th>상품 명</th>
        <td><p th:text="${item.itemName}"></p></td>
      </tr>
      <tr>
        <th>가격(할인가) </th>
        <td><p th:text="${item.salePrice}"></p></td>
      </tr>
      <tr>
        <th>사용 가능한 포인트 </th>
        <td><p th:text="${user.userPoint}"></p></td>
      </tr>
      <tr>
        <th>포인트 사용 </th>
        <td><input name="userPoint" type="number"  th:placeholder="'최대 ' + ${user.userPoint} '까지 가능'"></td>
      </tr>
      <tr>
        <th>배송지</th>
        <td>
          <p th:text="${user.address.streetAdr}"></p>
          <p th:text="${user.address.detailAdr}"></p>
        </td>
      </tr>
      <tr>
        <th>수량 </th>
        <td><input name="userPoint" type="number"  th:placeholder="'최대 ' + ${user.userPoint} '까지 가능'"></td>
      </tr>
      <button type="submit">구매하기</button>
    </form>
    </tbody>
  </table>

</div>

</body>
</html>