<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>물품 등록 </title>
</head>
<body>
<div th:replace="/fragments/layout.html :: fragment-brand-body-menu"></div>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>물품 이름</th>
            <th>제품 사진</th>
            <th>원가/판매가</th>
            <th>리뷰</th>
            <th>조회수</th>
            <th>판매량</th>
            <th>편집</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="x : ${brandItemList}">
            <form th:action="@{/brand/item/itemDetail}">
                <input type="hidden" name="id" th:value="${x.brandItemId}">
                <td><span name="itemName" th:text="${x.itemName}"></span></td>
                <td><img th:src="${x.urlFileName}"></td>
                <td><span name="price" th:text="${x.price} + '/' + ${x.salePrice}"></span>  </td>
                <td><span name="review" th:text="${x.reviewCount} + '/'+${x.reviewScore}"></span></td>
                <td><span name="totalTake" th:text="${x.totalTake}"></span></td>
                <td><button type="submit"> 수정 </button></td>
            </form>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>