<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Walnut</title>
</head>
<body>

<div th:fragment="fragment-body-menu">
  <div>
    <a href="/user/register">회원 가입</a>
    |
    <a href="/user/myPage">마이페이지</a>
    |
    <a href="/user/login">로그인</a>
    |
    <a href="/user/logout">로그아웃</a>
    |
    <a href="/qna/main">QnA</a>
    |
    <a href="/brand/register">브랜드 등록 신청</a>
  </div>
  <hr/>
</div>
<div th:fragment="fragment-admin-body-menu">
  <a href="/admin/main.do"> 관리자 메인 </a>
  |
  <a href="/admin/member/list.do"> 회원 관리 </a>
  |
  <a href="/admin/category/list.do"> 카테고리 관리 </a>
  |
  <a href="/admin/brand/list.do">브랜드 관리</a>
  |
  <a href="/admin/qna/list.do">QnA 관리</a>
  |
  <a href="/admin/event/eventList">이벤트 관리</a>
  |
  <a href="/user/logout"> 로그아웃 </a>

  <br/>
  <hr/>
</div>
<div th:fragment="fragment-brand-body-menu">
  <a href="/brand/main/item.do">판매 중인 물건 확인하기</a>
  |
  <a href="/brand/main/account.do">매출  확인</a>
  |
  <a href="/brand/main/item-add.do">판매 물품 등록하기</a>
  |
  <a href="/brand/main/orderList">주문 현황</a>
  |
  <a href="/brand/main/eventList">이벤트</a>
  |
  <a href="/user/logout"> 로그아웃 </a>
  <br/>
  <hr/>
</div>
<div th:fragment="fragment-mypage-body-menu">
  <a href="/user/info">회원 정보 수정하기</a>
  |
  <a href="/user/cache">캐시 충전</a>
  |
  <a href="/user/cart">장바구니</a>
  |
  <a href="/user/orderList">주문 내역</a> <!--  배송 완료된 내용(1주일) + 배송 안끝난 내용 // 주문 취소버튼 + 배송 완료 버튼-->
  <br/>
  <hr/>
</div>

</body>
</html>