<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title> </title>
</head>
<body>
<div>
  <table>
    <tbody>
    <form action="/qna/add.do" method="post">
      <tr>
        <th>질문 타입</th>
        <td>
          <select name="type">
            <option value="">타입선택</option>
            <option th:each="type : ${types}"
                    th:value="${type}"
                    th:text="${type}">
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <th>질문</th>
        <td><input type="text" name="subject" placeholder="질문할 내용을 입력해주세요."/></td>
      </tr>
      <tr>
        <th>상세내용</th>
        <td><input type="text" name="content" placeholder="상세 내용을 입력해주세요."/> </td>
      </tr>
      <button type="submit">등록하</button>
    </form>
    </tbody>
  </table>
</div>

</body>
</html>