<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QnA</title>
</head>
<body>
<div>
    <table>
        <tbody>
        <tr>
            <th>제목</th>
            <td><p th:text="${qna.subject}"></p></td>
        </tr>
        <tr>
            <th>세부내용</th>
            <td><p th:text="${qna.content}"></p> </td>
        </tr>
        <tr>
            <th>답변</th>
            <td th:if="${qna.answer == null}"> 답장을 기다리는 중입니다.</td>
            <td th:if="${qna.answer != null}"><p th:value="${qna.answer}"></p></td>

        </tr>
        </tbody>
    </table>
</div>
<a href="/qna/main">QnA메인</a>
</body>
</html>